#board{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}


.carrePrincipal{
    background-color: rgb(204, 10, 10);
    color: rgb(255, 255, 255);
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
}