#board {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 10px;
    flex-wrap: wrap;
}

.carre{
    width: 200px;
    height: 200px;
    background-color: green;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 1s;
}

.carre.clicked { /* NOM DE L'INTERRUPTEUR */
    background-color: red;
    transform: rotate(360deg) scale(0.9);
}