#board{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

body{
    background-color: rgb(179, 179, 179);
}

body h1{
    display: flex;
    justify-content: center;
    color: white;
}

.carre{
    height: 100px;
    width: 100px;
    position: relative;
}

.facebook,
.twitter,
.instagram{
    color: white;
    font-size: 40px;
}

.facebook {
    background-color: rgb(1, 101, 225);
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.twitter{
    background-color: rgb(29, 155, 240);
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.instagram{
    background-color: rgb(193, 53, 132);
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}