#board{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

body{
    background-color: rgb(179, 179, 179);
}

body h1{
    display: flex;
    justify-content: center;
    color: white;
}

.carre{
    height: 200px;
    width: 200px;
    position: relative;
}

.facebook,
.twitter,
.instagram{
    color: white;
    font-size: 90px;
}

.facebook {
    background-color: rgb(1, 101, 225);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.twitter{
    background-color: rgb(29, 155, 240);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.instagram{
    background-color: rgb(193, 53, 132);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.social-name{
    position: absolute;
    color: white;
    bottom: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
